{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}Formulaire de contact écoles{% endblock %}
{% block description %}Rejoignez le réseau Jaltup et offrez des opportunités uniques à vos étudiants.{% endblock %}

{% block ogTitle %}Jaltup - Formulaire de contact écoles{% endblock %}
{% block ogUrl %}https://jaltup.com/ecoles/contact{% endblock %}
{% block ogImage %}{{ asset('media/public/jaltup-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Jaltup bannière{% endblock %}
{% block ogDescription %}Rejoignez le réseau Jaltup et offrez des opportunités uniques à vos étudiants.{% endblock %}


{% block body %}
    <div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
            <defs>
                <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-64" patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
            </defs>
            <svg x="50%" y="-64" class="overflow-visible fill-gray-50">
                <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M299.5 800h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
        </svg>
        <div class="mx-auto max-w-xl lg:max-w-4xl mt-10 lg:mt-0">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900">Vous souhaitez inscrire votre école ?</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Plus de 65 écoles font parties du réseau Jaltup. <span class="underline">Inscrivez-vous gratuitement</span>.</p>
            <div class="mt-16 flex flex-col gap-16 sm:gap-y-20 lg:flex-row">
                {{ form_start(contactSchool, {'attr': {'class':'lg:flex-auto'}}) }}
                    {% if not contactSchool.vars.valid %}
                        <div class="border-l-4 border-red-400 bg-red-50 p-4 mb-6">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3 text-sm text-red-700">
                                    <p class="text-sm text-red-700">
                                        {{ form_errors(contactSchool.schoolName) }}
                                        {{ form_errors(contactSchool.location) }}
                                        {{ form_errors(contactSchool.contactEmail) }}
                                        {{ form_errors(contactSchool.contactName) }}
                                        {{ form_errors(contactSchool.contactNumber) }}
                                        {{ form_errors(contactSchool.contactMessage) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for message in app.flashes('successContactSchool') %}
                        <div class="border-l-4 border-green-400 bg-green-50 p-4 mb-6">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3 text-sm text-green-700">
                                    <p class="text-sm text-green-700">
                                        {{ message }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">{{ form_label(contactSchool.schoolName, 'Nom de l\'école') }}</label>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.schoolName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">{{ form_label(contactSchool.location, 'Ville') }}</label>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.location, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-semibold leading-6 text-gray-900">{{ form_label(contactSchool.contactEmail, 'E-mail') }}</label>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.contactEmail, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">{{ form_label(contactSchool.contactName, 'Nom/Prénom') }}</label>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.contactName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">{{ form_label(contactSchool.contactNumber, 'Téléphone') }}</label>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.contactNumber, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <div class="flex justify-between">
                                <label class="block text-sm font-semibold leading-6">{{ form_label(contactSchool.contactMessage, 'Message') }}</label>
                                <p class="text-gray-500 text-sm mt-0.5">Optionnel</p>
                            </div>
                            <div class="mt-2.5">
                                {{ form_widget(contactSchool.contactMessage, {'attr': {'rows': '4', 'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="block w-full rounded-md bg-main px-5 py-3.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-main-strong transition duration-200">On vous rappelle</button>
                    </div>
                {{ form_end(contactSchool) }}
                <div class="lg:mt-6 lg:w-80 lg:flex-none">
                    <img class="h-8 w-auto" src="{{ asset('media/public/jaltup-academia.png') }}" alt="">
                    <figure class="mt-10">
                        <blockquote class="text-lg font-semibold leading-8 text-gray-900">
                            <p>“Les étudiants peuvent désormais accéder à un large éventail d'opportunités, adaptées à leurs compétences et à leurs aspirations professionnelles.”</p>
                        </blockquote>
                        <figcaption class="mt-10 flex gap-x-6">
                            <img src="{{ asset('media/public/jaltup-franck-academia.webp') }}" alt="Photo du directeur d'Academia" class="h-12 w-12 flex-none rounded-full bg-gray-50">
                            <div>
                                <div class="text-base font-semibold text-gray-900">Franck Brenna</div>
                                <div class="text-sm leading-6 text-gray-600">Directeur du réseau Académia</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
