<!DOCTYPE html>
<html lang="fr">
    <head class="h-full bg-white">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Jaltup Admin - {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}{% endblock %}"/>
        <link rel="icon" href="{{ asset('media/logos/favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full">
        <header>
            <!-- Mobile Menu -->
            <div x-data="{ isOpen: false }">
                <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden">
                    <button @click="isOpen = true" type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden hover:ring-gray-200 hover:ring-1 transition duration-200 rounded-full bg-gray-50">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                    <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">Administration</div>
                    <a href="#">
                        <span class="sr-only">Votre profil</span>
                        <img class="h-8 w-8 rounded-full bg-gray-50" src="{{ asset('media/backend/pp-admin.webp') }}" alt="Photo de profil administrateur">
                    </a>
                </div>
                <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
                <div x-show="isOpen" x-show="isOpen" class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
                    <div class="fixed inset-0 bg-gray-900/80"></div>
                    <div class="fixed inset-0 flex">
                        <div class="relative mr-16 flex w-full max-w-xs flex-1">
                            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                                <button @click="isOpen = false" type="button" class="-m-2.5 p-2.5 hover:ring-white/30 hover:bg-white/10 hover:ring-1 transition duration-200 rounded-full">
                                    <span class="sr-only">Close sidebar</span>
                                    <svg class="h-7 w-7 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <!-- Sidebar component, swap this element with another sidebar if you like -->
                            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
                                <div class="flex h-16 shrink-0 items-center">
                                    <a href="{{ path('app_backend_dashboard') }}">
                                        <img class="h-6 w-auto" src="{{ asset('media/logos/logo.webp') }}" alt="Jaltup logo">
                                    </a>
                                </div>
                                <nav class="flex flex-1 flex-col">
                                    <ul role="list" class="flex flex-1 flex-col gap-y-7">
                                        <li>
                                            <ul role="list" class="-mx-2 space-y-1">
                                                <li>
                                                    <a href="{{ path('app_backend_dashboard') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_dashboard' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_dashboard' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                                        </svg>
                                                        Dashboard
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                                                        </svg>
                                                        Offres d'emploi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_backend_companies') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_companies' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_companies' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                                                        </svg>
                                                        Entreprises
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                                                        </svg>
                                                        Étudiants
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="text-xs font-semibold leading-6 text-gray-400">Ressource externe</div>
                                            <ul role="list" class="-mx-2 mt-2 space-y-1">
                                                <li>
                                                    <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Google Analytics</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Search console</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Cloudflare</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
                    <div class="flex h-16 shrink-0 items-center">
                        <a href="{{ path('app_backend_dashboard') }}">
                            <img class="h-6 w-auto" src="{{ asset('media/logos/logo.webp') }}" alt="Jaltup logo">
                        </a>
                    </div>
                    <nav class="flex flex-1 flex-col">
                        <ul role="list" class="flex flex-1 flex-col gap-y-7">
                            <li>
                                <ul role="list" class="-mx-2 space-y-1">
                                    <li>
                                        <a href="{{ path('app_backend_dashboard') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_dashboard' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_dashboard' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                            </svg>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                                            </svg>
                                            Offres d'emploi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_backend_companies') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_companies' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_companies' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                                            </svg>
                                            Entreprises
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                                            </svg>
                                            Étudiants
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="text-xs font-semibold leading-6 text-gray-400">Ressource externe</div>
                                <ul role="list" class="-mx-2 mt-2 space-y-1">
                                    <li>
                                        <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Google Analytics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Search console</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Cloudflare</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="-mx-6 mt-auto">
                                <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50 transition duration-200">
                                    <img class="h-8 w-8 rounded-full bg-gray-50" src="{{ asset('media/backend/pp-admin.webp') }}" alt="Photo de profil administrateur">
                                    <span class="sr-only">Votre profil</span>
                                    <span aria-hidden="true">{{ app.user.email }}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
