<!DOCTYPE html>
<html lang="fr">
    <head class="h-full bg-white">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Jaltup Admin - {% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow"/>
        <link rel="icon" href="{{ asset('media/logos/favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full">
        <header>
            <!-- Mobile Menu -->
            <div x-data="{ isOpen: false }">
                <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden">
                    <button @click="isOpen = true" type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden hover:ring-gray-200 hover:ring-1 transition duration-200 rounded-full bg-gray-50">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                    <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">Administration</div>
                    <a href="#">
                        <span class="sr-only">Votre profil</span>
                        <img class="h-8 w-8 rounded-full bg-gray-50" src="{{ asset('media/backend/pp-admin.webp') }}" alt="Photo de profil administrateur">
                    </a>
                </div>
                <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
                <div x-show="isOpen" x-show="isOpen" class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
                    <div class="fixed inset-0 bg-gray-900/80"></div>
                    <div class="fixed inset-0 flex">
                        <div class="relative mr-16 flex w-full max-w-xs flex-1">
                            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                                <button @click="isOpen = false" type="button" class="-m-2.5 p-2.5 hover:ring-white/30 hover:bg-white/10 hover:ring-1 transition duration-200 rounded-full">
                                    <span class="sr-only">Close sidebar</span>
                                    <svg class="h-7 w-7 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <!-- Sidebar component, swap this element with another sidebar if you like -->
                            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
                                <div class="flex h-16 shrink-0 items-center">
                                    <a href="{{ path('app_backend_companies') }}">
                                        <img class="h-6 w-auto" src="{{ asset('media/logos/logo.webp') }}" alt="Jaltup logo">
                                    </a>
                                </div>
                                <nav class="flex flex-1 flex-col">
                                    <ul role="list" class="flex flex-1 flex-col gap-y-7">
                                        <li>
                                            <ul role="list" class="-mx-2 space-y-1">
                                                <li>
                                                    <a href="{{ path('app_backend_companies') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_companies' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_companies' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                                                        </svg>
                                                        Entreprises
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="text-xs font-semibold leading-6 text-gray-400">Ressource externe</div>
                                            <ul role="list" class="-mx-2 mt-2 space-y-1">
                                                <li>
                                                    <a href="https://analytics.google.com/" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Google Analytics</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://search.google.com/search-console" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Search console</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://dash.cloudflare.com/" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                                        <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                        </svg>
                                                        <span class="truncate">Cloudflare</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
                    <div class="flex h-16 shrink-0 items-center">
                        <a href="{{ path('app_backend_companies') }}">
                            <img class="h-6 w-auto" src="{{ asset('media/logos/logo.webp') }}" alt="Jaltup logo">
                        </a>
                    </div>
                    <nav class="flex flex-1 flex-col">
                        <ul role="list" class="flex flex-1 flex-col gap-y-7">
                            <li>
                                <ul role="list" class="-mx-2 space-y-1">
                                    <li>
                                        <a href="{{ path('app_backend_companies') }}" class="{% if app.request.attributes.get('_route') == 'app_backend_companies' %}bg-gray-50 text-main hover:bg-gray-100{% else %}hover:text-main hover:bg-gray-50{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 {% if app.request.attributes.get('_route') == 'app_backend_companies' %}text-main{% else %}text-gray-400 group-hover:text-main{% endif %}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                                            </svg>
                                            Entreprises
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="text-xs font-semibold leading-6 text-gray-400">Ressource externe</div>
                                <ul role="list" class="-mx-2 mt-2 space-y-1">
                                    <li>
                                        <a href="https://analytics.google.com/" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Google Analytics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://search.google.com/search-console" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Search console</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://dash.cloudflare.com/" target="_blank" class="text-gray-700 hover:text-main hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold transition duration-200">
                                            <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-main" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                            </svg>
                                            <span class="truncate">Cloudflare</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="-mx-6 mt-auto">
                                <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50 transition duration-200">
                                    <img class="h-8 w-8 rounded-full bg-gray-50" src="{{ asset('media/backend/pp-admin.webp') }}" alt="Photo de profil administrateur">
                                    <span class="sr-only">Votre profil</span>
                                    <span aria-hidden="true">{{ app.user.email }}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
